<div class="leftNav">
    <ul>
        <li (click)="showHideNavigation('dashboard')">
            <a routerLink="/operational-dashboard" routerLinkActive="active" class="dash" [routerLinkActiveOptions]="{exact: true}">
                <img src="assets/svg/Group.svg" alt="Group">
                Dashboards</a>
        </li>
        <li (click)="showHideNavigation('alerts')"><a routerLink="/notification" routerLinkActive="active">
                <img src="assets/svg/bell.svg" alt="Bell" class="bell">Alerts</a></li>

        <li (click)="showHideNavigation('tracking')"><a routerLink="/track-employee" routerLinkActive="active">
                <img src="assets/svg/Tracking.svg" alt="Tracking">Tracking</a></li>

        <li><a href="#"><img src="assets/svg/Reports.svg" alt="Reports">Reports</a></li>
        <li><a href="#"><img src="assets/svg/Safepass.svg" alt="Safepass">Safe Pass Management</a></li>
        <li><a href="#"><img src="assets/svg/Beacon.svg" alt="Beacon">Beacon Management</a></li>
        <li><a href="#"><img src="assets/svg/inventory.svg" alt="inventory">Inventery Operations</a></li>
        <li (click)="showHideNavigation('customerConfig')"><a routerLink="/alertrule" routerLinkActive="active">
            <img src="assets/svg/bell.svg" alt="Bell" class="bell">Customer Configurations</a>
        </li>
        <li><a href="#"><img src="assets/svg/ngm.svg" alt="ngm">Nework Gateway Management</a>
        </li>
        <li><a href="#"><img src="assets/svg/Admin.svg" alt="Admin">Admin</a></li>
    </ul>
</div>

<div class="NavShowHide" *ngIf="showDashboard">
    <div><i (click)="showHideNavigation('dashboard')" class="fa fa-times" aria-hidden="true"></i></div>
    <div class="dashHeading">Dashboards</div>
    <ul>
        <li *ngxPermissionsOnly="['ROLE_EXECUTIVE_DASHBOARD']"><a href="executive-dashboard">Executive Dashboard</a>
        </li>
        <li *ngxPermissionsOnly="['ROLE_DASHBOARD_VIEW']"><a href="operational-dashboard">Operational DashBoard</a></li>
        <li *ngxPermissionsOnly="['ROLE_ZONE_DASHBOARD']"><a href="live-zone">Zone Dashboard</a></li>
        <li *ngxPermissionsOnly="['ROLE_SURAKSHA_CARD']"><a href="card-utilization">Utilization Dashboard</a></li>
        <li *ngxPermissionsOnly="['ROLE_NETWORK_GATEWAY_DASHBOARD']"><a href="gateway-dashboard">Network Gateway
                Dashboard</a></li>

        <li *ngxPermissionsOnly="['ROLE_KPI DASHBOARD']"><a href="kpi">KPI</a></li>
    </ul>
</div>

<div class="NavShowHide" *ngIf="showAlerts">
    <div><i (click)="showHideNavigation('alerts')" class="fa fa-times" aria-hidden="true"></i></div>
    <div class="dashHeading">Alerts</div>
    <ul>
        <li *ngxPermissionsOnly="['ROLE_NOTIFICATION_VIEW','ROLE_NOTIFICATION_ACTION']">
            <a href="notification">Notifications</a>
    </li>
    </ul>
</div>
<div class="NavShowHide" *ngIf="showTracking">
    <div><i (click)="showHideNavigation('tracking')" class="fa fa-times" aria-hidden="true"></i></div>
    <div class="dashHeading">Tracking</div>
    <ul>
        <li
            *ngxPermissionsOnly="['ROLE_EMPLOYEE_LOCATION_TRACKING', 'ROLE_EMPLOYEE_BEACON_TRACKING', 'ROLE_EMPLOYEE_MAP_TRACKING']">
            <a href="track-employee">Employee Tracking</a>
        </li>
        <li *ngxPermissionsOnly="['ROLE_ZONE_VIOLATION']"><a href="zone-violation">Zone Violation</a>
    </li>
        <li *ngxPermissionsOnly="['ROLE_BEACON_LAST_COMMUNICATION_VIEW']"><a href="beacon-last-communication">Beacon
                Last Communocation</a>
        </li>
        <li *ngxPermissionsOnly="['ROLE_USER_LOGS_VIEW']"><a href="user-tracking">User Logs</a>
    </li>
    </ul>
</div>

<div class="NavShowHide" *ngIf="showCustomrConfig">
    <div><i (click)="showHideNavigation('customerConfig')" class="fa fa-times" aria-hidden="true"></i></div>
    <div class="dashHeading">Customer Configurations</div>
    <ul>
        <li *ngxPermissionsOnly="['ROLE_USER_ALERT_RULE_CONFIGURATION']">
            <a href="alertrule">Alert Rules</a>
        </li>
    </ul>
</div>