<div class="container" style="width: 600px;">
    <h1 mat-dialog-title>Change Password</h1>
    <div class="form-group" [formGroup]="changePassword">
        <div class="form-group">
            <label> Password </label>
            <input type="text" formControlName="oldPassword" (keyup)="validate()" class="form-control textbox" />
            <div *ngIf="showOldPasswordMessage || changePassword.controls['oldPassword'].invalid && (changePassword.controls['oldPassword'].dirty || changePassword.controls['oldPassword'].touched)"
                class="alert alert-danger">
                <!-- <div *ngIf="changePassword.controls['oldPassword'].errors?.required "> -->
                {{oldPasswordError}}
                <!-- </div> -->
            </div>
        </div>
        <div class="form-group">
            <label>New Password</label>
            <input type="text" formControlName="newPassword" (keyup)="validate()" class=" form-control textbox" />
            <div *ngIf="showNewPasswordMessage || changePassword.controls['newPassword'].invalid && (changePassword.controls['newPassword'].dirty || changePassword.controls['newPassword'].touched)"
                class="alert alert-danger">
                {{newPasswordError}}
            </div>
        </div>
        <div class="form-group">
            <label> Confirm Password </label>
            <input type="text" formControlName="confirmPassword" (keyup)="validate()" class="form-control textbox" />
            <div *ngIf="showConfirmPasswordMessage || changePassword.controls['confirmPassword'].invalid && (changePassword.controls['confirmPassword'].dirty || changePassword.controls['confirmPassword'].touched)"
                class="alert alert-danger">
                {{confirmPasswordError}}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-info sendOTP" (click)="save()">Save</button>
                <button type="button" class="ml-2 btn btn-info goBackToLogin" (click)="cancel()">Cancel</button>

            </div>
        </div>

    </div>

</div>