.operationalHeading {
  padding: 0 22px;
  margin: 0;
  height: auto;
  border-bottom: solid 1px rgb(148, 187, 226);
color: rgb(43,95,143);
justify-content: space-between;
}
.operationalHeading span {
margin: 25px 17px;
  display: inline-block;
  font-weight: 600;
color: #000;
font-size: 12px;
}
.operationalHeading h1{
  margin: 0;
  font-size: 1.5rem;
  color: rgb(43,95,143);
  display:inline-block;
  line-height: 2.5em;
}
.operationalHeading .exportRow{
  margin-top: 15px;
}
.operationalHeading .empList{
  background-color: rgb(43,95,143);
  padding: 9px 15px;
  /* min-width: 100%; */
   font-size: 12px;
  
  border: none;
  color: #fff;
  float: right;
}
.empList{
  background-color: rgb(43,95,143);
  padding: 9px 15px;
  /* min-width: 100%; */
   font-size: 12px;
  
  border: none;
  color: #fff;
}
.utilCardRow{
  padding: 20px 25px;
}
.utilCardRow h4{
  font-size: 18px;
}
.utilCardRow img{
  padding: 0 0 0 10px;
}
.utilTblData{
  padding: 10px 0;
  background-color: rgb(245,247,250);
  border-radius: 4px;
  box-shadow: 0 0 1 rgb(196, 196, 196);
  box-shadow: 0px 0px 4px 2px #e4e5e6;
  margin-left: 124px;
  margin-right: 24px;
  height: 350px;
  overflow: scroll;
}
 .utilSticky{
  /* border-bottom: solid 1px rgb(43,95,143); */
  padding:  0px 20px;
}
.stickyData{
  border-bottom: solid 1px rgb(43,95,143);
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: rgb(43,95,143);
}
 .utilSticky .one{
  float: left;
  font-size: 16px;
  text-align: left;
}
.utilTblData .utilSticky .two{
  font-size: 16px;
  text-align: right;
  color: rgb(43,95,143);
}
.utilTblData .utilTblRow{
  border-bottom: solid 1px rgb(43,95,143);
  border-bottom: solid 1px rgb(43,95,143);
  line-height: 40px;
  margin: 0 20px;
}
.utilTblData .utilTblRow > div{
  display: inline-block;
  width: 12%;
}
.utilTblData .utilTblRow > div:last-child{
  text-align: right;
}
.exportBtn{
  background-color: rgb(43,95,143);
  padding: 8px 15px 10px 35px;
  border: none;
  color: #fff;
  background-image: url(/assets/svg/_file-upload.svg);
  background-repeat: no-repeat no-repeat;
  background-position: 14px 9px;
  font-size: 12px;
}