<app-header></app-header>
<app-left-navigation></app-left-navigation>

<div fxLayout="row" fxlayoutAlign="space-between center" fxLayout.lt-sm="column" class="operationalHeading">
    <div fxLayout="row">
        <div fxFlex="">
            <h1>Card Utilization</h1>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex="" class="exportRow">
            <button type="button" class="btn btn-info exportBtn" data-toggle="modal" data-target="#resetModal">Export
            </button>
        </div>
    </div>
</div>


<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column" class="utilCardRow">
    <div fxLayout="column">
        <div fxLayout="row">
            <div fxFlex="">
                <h4>Suraksha Card Status <img src="assets/svg/info.svg" alt="info" /></h4>
            </div>
        </div>
        <div fxLayout="row">
            <div class="center" *ngIf="countDataFetched">
                {{utilizationDashboardDto.badges}}
                {{utilizationDashboardDto.distributed}}
                {{utilizationDashboardDto.nonCommunicatingBadges}}
                {{utilizationDashboardDto.workingBadges}}

                <div style="width: 500px;height: 200px;" class="row">
                    <canvas baseChart [data]="demodoughnutChartData" [options]="chartOptions"
                        [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="chartColors"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row">
            <div fxFlex="">
                <h4>Suraksha Card Utilization Trend <img src="assets/svg/info.svg" alt="info" /></h4>
            </div>
        </div>
        <div fxLayout="row">
            <div class="center" *ngIf="countDataFetched">
                {{utilizationDashboardDto.badges}}
                {{utilizationDashboardDto.distributed}}
                {{utilizationDashboardDto.nonCommunicatingBadges}}
                {{utilizationDashboardDto.workingBadges}}

                <div style="width: 500px;height: 200px;" class="row">
                    <canvas baseChart [data]="demodoughnutChartData" [options]="chartOptions"
                        [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="chartColors"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row ml-3">
        <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Report</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="exportForm">
                            <select class="form-control" formControlName="reportType">
                                <option value="totalCards">Total Cards </option>
                                <option value="distributedCards">Distributed Cards</option>
                                <option value="liveCards">Live Cards</option>
                                <option value="nonCommunicationCards">Non Communication Cards</option>
                            </select>
                            <!-- <br /> -->

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="ml-2 d-inline btn btn-info" (click)="export()">Download</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resetModalUtilization" tabindex="-1" role="dialog" aria-labelledby="resetModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Download</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="exportUtilizationForm">
                    <div class="row">
                        <div class="col-md-6">
                            <span>Report Type</span>
                            <!-- <select class="form-control" formControlName="reportType">
                                <option value="TCL_DETECTED_CARD">Suraksha Card Detected(TCL)</option>
                                <option value="INACTIVE">Suraksha Card Inactive</option>
                            </select> -->

                            <mat-form-field appearance="fill">
                                <mat-select formControlName="reportType" class="matSlt">
                                    <mat-option value="TCL_DETECTED_CARD">Suraksha Card Detected(TCL)<!-- {{city}} --></mat-option>
                                    <mat-option value="INACTIVE">Suraksha Card Inactive <!-- {{city}} --></mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                        <div class="col-md-6">
                            <span>Date</span>
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker1" formControlName="dateForExport"
                                    id="dateForExport" placeholder="dd/mm/yyyyy">
                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <span>City</span>
                            <mat-form-field appearance="fill">
                                <mat-select formControlName="city">
                                    <mat-option *ngFor="let city of cityNames" [value]="city">
                                        {{city}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- <br /> -->

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="ml-2 d-inline btn btn-info" (click)="exportUtilization()">Download</button>
            </div>
        </div>
    </div>
</div>

<div class="utilTblData">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="utilSticky">
        <div fxFlex="" class="one">
            <strong>Suraksha Card Utilization Trend</strong>
        </div>
        <div fxFlex="" class="two">
            <button type="button" class="btn btn-info exportBtn" data-toggle="modal"
                data-target="#resetModalUtilization">Export
            </button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="stickyData">
        <div fxFlex="" class="SurakshaCard">Location</div>
        <div fxFlex="" class="SurakshaCard">Cumilative Last 15 Days</div>
        <div fxFlex="" class="SurakshaCard">previous Day</div>
        <div fxFlex="" class="SurakshaCard">Curent Day Live</div>
    </div>
    <div fxLayout="row" class="utilTblRow">
        <div fxFlex="" class="">
            Location
        </div>
        <div fxFlex="" class="">
            one
        </div>
        <div fxFlex="" class="">
            two
        </div>
        <div fxFlex="" class="">
            three
        </div>
        <div fxFlex="" class="">
            four
        </div>
        <div fxFlex="" class="">
            five
        </div>
        <div fxFlex="" class="">
            six
        </div>
        <div fxFlex="" class="">
            seven
        </div>
    </div>
</div>