<app-header></app-header>
<app-left-navigation></app-left-navigation>

<div fxLayout="row" class="kpi-header" fxLayoutAlign="space-between center">
    <div class="params-title index-title">
        <h3 fxLayoutGap="10px">KPI Dashboard</h3>
    </div>
    <div class="index-title" fxLayoutGap="10px">
        <h6> Dashboard last updated:{{ Date | date:'short' }}</h6>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column" class="kpi-info">

    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <div class="dashrow-one">
                <span class="params-title">KPI: Data Loss
                    <img src="assets/svg/info.svg" alt="info" />
                </span>
            </div>
            <div class="dashrow-one date-field">
                <span>
                    <mat-form-field style="width: 45%;" appearance="legacy">
                        <mat-label>Date Range</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                            <input matStartDate formControlName="start" placeholder="Start date">
                            <input matEndDate formControlName="end" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix class="date-toogle" [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date
                        </mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                    </mat-form-field>
                </span>
            </div>
            <div class="dashrow-one">
                <span> Export
                    <img (click)="exportData()" src="assets/svg/download.svg" alt="download">
                </span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxLayout="column">
                <div class="wrapper">
                    <input type="radio" name="select" id="option-1" checked>

                    <label for="option-1" class="option option-1">
                        <span>Scheduled Pocket Loss</span>
                    </label>
                    <br>
                    <input type="radio" name="select" id="option-2">
                    <label for="option-2" class="option option-2">
                        <span>Hazardous Packet Loss</span>
                    </label>
                </div>
            </div>

            <div fxLayout="column">
                <div style="height: 200px; width: 140px;" class="row">
                    <canvas baseChart [data]="doughnutChartData" [options]="chartOptions" [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType" [colors]="chartColors" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div class="dashrow-one">
                <span class="params-title">KPI: Accuracy
                    <img src="assets/svg/info.svg" alt="info" />
                </span>
            </div>
            <div class="dashrow-one">
                <span>
                    <mat-form-field style="width: 45%;" appearance="legacy">
                        <mat-label>Date Range</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                            <input matStartDate formControlName="start" placeholder="Start date">
                            <input matEndDate formControlName="end" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix class="date-toogle" [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date
                        </mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                    </mat-form-field>
                </span>
            </div>
            <div class="dashrow-one">
                <span> Export
                    <img (click)="exportData()" src="assets/svg/download.svg" alt="download">
                </span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxLayout="column">
                <!-- <span>Beacon Accuracy</span>
                    <span>Total Installed Beacons</span>
                    <span>Unmanaged Beacons</span> -->
                <div class="wrapper">
                    <input type="radio" name="select" id="option-1" checked>

                    <label for="option-1" class="option option-1">
                        <span>Beacon Accuracy</span>
                    </label>
                    <br>
                    <input type="radio" name="select" id="option-2">
                    <label for="option-2" class="option option-2">
                        <span>Total Installed Beacons</span>
                    </label>
                    <br>
                    <input type="radio" name="select" id="option-3">
                    <label for="option-3" class="option option-3">
                        <div class="dot"></div>
                        <span>Unmanaged Beacons</span>
                    </label>
                </div>
            </div>

            <div fxLayout="column">
                <div style="height: 200px; width: 140px" class="row">
                    <canvas baseChart [data]="doughnutChartData" [options]="chartOptions" [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType" [colors]="chartColors" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div class="dashrow-one">
                <span class="params-title">KPI: Delay
                    <img src="assets/svg/info.svg" alt="info" />
                </span>
            </div>
            <div class="dashrow-one date-field">
                <span>
                    <mat-form-field style="width: 45%;" appearance="legacy">
                        <mat-label>Date Range</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                            <input matStartDate formControlName="start" placeholder="Start date">
                            <input matEndDate formControlName="end" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date
                        </mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                    </mat-form-field>
                </span>
            </div>
            <div class="dashrow-one">
                <span> Export
                    <img (click)="exportData()" src="assets/svg/download.svg" alt="download">
                </span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxLayout="column">
                <!-- <span>Hazardous Pocket Travel Time</span>
                    <span>Scheduled Pocket Travel Time</span>
                    <span>SOS Packet Travel Time</span> -->
                <div class="wrapper">
                    <input type="radio" (click)="kpiDELAY('hz');"  name="select" id="option-1" checked>

                    <label for="option-1" class="option option-1">
                        <span>Hazardous Packet Travel Time</span>
                    </label>
                    <br>
                    <input type="radio"  (click)="kpiDELAY('sl');" name="select" id="option-2">
                    <label for="option-2" class="option option-2">
                        <span>Scheduled Pocket Travel Time</span>
                    </label>
                    <br>
                    <input type="radio"  (click)="kpiDELAY('sos');" name="select" id="option-3">
                    <label for="option-3" class="option option-3">
                        <span>SOS Packet Travel Time</span>
                    </label>
                </div>
            </div>
            <div fxLayout="column">
                <div style="height: 200px; width: 140px" class="row">
                    <canvas baseChart [data]="doughnutChartData" [options]="chartOptions" [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType" [colors]="chartColors" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
    <div class="params-title index-title" fxFlex="40">
        <h4>Other Parametrs</h4>
    </div>
    <div fxFlex="50" fxLayout.lt-sm="column" class="operationalChartRow">
        <div fxFlex="25">
            <div class="dashrow-one date-field">
                <span>
                    <mat-form-field style="width: 45%;" appearance="legacy">
                        <mat-label>Date Range</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                            <input matStartDate formControlName="start" placeholder="Start date">
                            <input matEndDate formControlName="end" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix class="date-toogle" [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date
                        </mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                    </mat-form-field>
                </span>
            </div>
        </div>
        <div>
            <span> Export
                <img (click)="exportData()" src="assets/svg/download.svg" alt="download">
            </span>
        </div>
    </div>
</div>
<div class="outer-params index-title" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
    <div class="other-params" fxLayout="column" fxFlex="20" fxLayout.xs="column">
        <div fxLayout="row" fxLayoutGap="10px" class="params-title">
            Hazardous Alerts
        </div>
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex="70" class="sec1" fxFlex.xs="55">
                    <div>
                        <h6>{{ Date | date:'short' }}</h6>
                    </div>
                </div>
                <div>
                    <img src="assets/svg/bell.svg" class="params-img" alt="alerts">
                </div>
            </div>
        </div>
    </div>
    <div class="other-params" fxLayout="column" fxFlex="20" fxLayout.xs="column">
        <div fxLayout="row" fxLayoutGap="10px" class="params-title">
            Battery Alerts
        </div>
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex="70" class="sec1" fxFlex.xs="55">
                    <h6>{{ Date | date:'short' }}</h6>
                </div>
                <div>
                    <img src="assets/svg/bell.svg" class="params-img" alt="alerts">
                </div>
            </div>
        </div>
    </div>
    <div class="other-params" fxLayout="column" fxFlex="20" fxLayout.xs="column">
        <div fxLayout="row" fxLayoutGap="10px" class="params-title">
            SOS Alerts
        </div>
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex="70" class="sec1" fxFlex.xs="55">
                    <h6>{{ Date | date:'short' }}</h6>
                </div>
                <div>
                    <img src="assets/svg/bell.svg" class="params-img" alt="alerts">
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxFlex="30" fxLayout.xs="column">
        <div fxLayout="row" class="params-title index-title">
            Badges
            <div class="dashrow-one" fxFlex="row" fxLayoutAlign="end start" fxLayout="10">
                <span> Export
                    <img (click)="exportData()" src="assets/svg/download.svg" alt="download">
                </span>
            </div>

        </div>
        <div class="wrapper">
            <input type="radio" name="select" id="option-1" checked>

            <label for="option-1" class="option option-1">
                <span>Live Mobiles</span>
            </label>

            <input type="radio" name="select" id="option-2">
            <label for="option-2" class="option option-2">
                <span>Total Mobiles</span>
            </label>

        </div>
        <div fxLayout="column">
            <div fxLayout="row">
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                    [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                    [plugins]="lineChartPlugins" (chartHover)="lineChartHovered($event)"
                    (chartClick)="lineChartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>
</div>

<div class="outer-index" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
    <div fxFlex="65" class="inner-index">
        <div class="params-title index-title">
            Health Index
        </div>
        <div fxLayout="row">
            <div fxFlex="30" fxLayout.xs="column">

                <div fxLayout="row" class="space-evenly center circle-index" fxLayoutGap="10px">
                    <div class="zoneSvgHeading">
                        <!-- <svg height="100" width="100">
                            <circle cx="50" cy="50" r="45" width="100" height="100" style="fill:rgb(255, 255, 255); stroke-width:4; stroke:rgb(38, 78, 116);"
                            />     
                          
                        </svg>
                        -->
                        <div class="col-md-6 col-sm-6 aligncenter">
                            <div class="circle">
                                <div class="circle-inner aligncenter">
                                    <b>{{kpiHIDASS}}</b>
                                </div>
                            </div>
                            
                            <b>Application Up Time</b>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="30" fxLayout.xs="column">
                <div fxLayout="row" class="space-evenly center circle-index" fxLayoutGap="5px">
                    <div class="zoneSvgHeading">
                        <!-- <svg height="100" width="100">
                            <circle cx="50" cy="50" r="45" width="100" height="100" style="fill:rgb(255, 255, 255); stroke-width:4; stroke:rgb(38, 78, 116);"
                            />
                          
                            
                        </svg> -->
                        <div class="col-md-6 col-sm-6 aligncenter">
                            <div class="circle">
                                <div class="circle-inner aligncenter">
                                    <b>>{{kpiHIDASS}}</b>
                                </div>
                            </div>
                            <b>Platform Uptime</b>
                        </div>

                    </div>
                </div>
            </div>
            <div fxFlex="30" fxLayout.xs="column">
                <div fxLayout="row" class="space-evenly center circle-index" fxLayoutGap="5px">
                    <div class="zoneSvgHeading">
                        <!-- <svg height="100" width="100">
                            <circle cx="50" cy="50" r="45" width="100" height="100" style="fill:rgb(255, 255, 255); stroke-width:4; stroke:rgb(38, 78, 116);"
                            />
                        </svg> -->
                        <div class="col-md-6 col-sm-6 aligncenter">
                            <div class="circle">
                                <div class="circle-inner aligncenter">
                                    <b>{{kpiHICW}}</b>
                                </div>
                            </div>
                            <b>Network Server Uptime</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxFlex="30" fxLayout.xs="column">
        <div fxLayout="row" class="params-title index-title">
            Mobile
            <div class="dashrow-one" fxFlex="row" fxLayoutAlign="end start" fxLayout="10">
                <span> Export
                    <img (click)="exportData()"src="assets/svg/download.svg" alt="download">
                </span>
            </div>

        </div>
        <div class="wrapper">
            <input type="radio" name="select" id="option-1" checked>

            <label for="option-1" class="option option-1">
                <span>Live Mobiles</span>
            </label>

            <input type="radio" name="select" id="option-2">
            <label for="option-2" class="option option-2">
                <span>Total Mobiles</span>
            </label>
            <div fxLayout="column">
                <div fxLayout="row">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="outer-params" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="14px">
        <div class="other-params" fxLayout="column" fxFlex="60" fxLayout.xs="column">
            <div fxLayout="row" class="params-title">
                Health Index
            </div>
        </div>
    </div>
    <div class="outer-params" fxLayout="row" fxLayoutAlign="end start">
        <div style="display: block;">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins"
                [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
        </div>
    </div> -->
</div>