.kpi-header{
    border-bottom: 1px solid #ece4e4;
    padding: 10px 20px;
}

*{
	text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body {
	background: #eeeeee;
	font-family: 'Varela Round', sans-serif;
    display: flex;
    box-sizing: border-box;
}
.dashrow-one span{
    font-size: 15px;
    font-style: normal;
    display: inline-block;
    padding: 0px;
    line-height: 1.2em;
}

.dashrow-one{
	padding-right: 0;
}
.option{
    font-size: 13px;
    vertical-align: middle;
    margin-left: 8px;
}
.params-img{
    height: 35px;
}
.outer-params .other-params{
    border: 1px solid #e7e8ea;
    padding: 25px;
    border-radius: 12px;
    background:white;
}

.outer-index .inner-index{
    border: 1px solid #e7e8ea;
    border-radius: 12px;
    background:white;
    padding: 25px;
}

.params-title{
    color:#2b5f8f;
    font-size: 18px;
    padding-bottom: 25px;
    font-weight: bold;
}
.index-title{
    padding-bottom: 5px;
}
.circle-index{
    justify-content: space-evenly;
}

.date-field{
    width: 20%;
}
.dashrow-one ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
    border-bottom: white !important;
    height: 0 !important;
}
.circle-inner {
    border: 5px solid rgb(38, 78, 116);;
    border-radius: 50%;
    height: 100px;
    width: 100px;
  
}
.aligncenter {
    text-align: center;
}
b, input, p, small, span {
    font-size: 12px;
    font-weight: 400;
}
