<app-header></app-header>
<app-left-navigation></app-left-navigation>

<div>
    <div fxLayout="row" class="container kpi-header">
        <div fxLayoutAlign="start center">
            <div fxLayoutAlign="start start" fxFlex="60">
                <h3>KPI Dashboard</h3>
            </div>
            <div fxLayoutAlign="end start" fxFlex="40">
                Dashboard last updated:
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column" class="operationalChartRow">

        <div fxLayout="column">
            <div fxLayout="row">
                <div class="dashrow-one">
                    <em>KPI: Data Loss
                        <i class="fa fa-info-circle"></i>
                    </em>
                </div>
                <div class="dashrow-one">
                    <em>Date
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </em>
                </div>
                <div class="dashrow-one">
                    <em> Export
                        <button type="button">Export</button>
                    </em>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div fxLayout="column" fxFlex="30">
                    <em>Scheduled Package Loss</em>
                    <em>Scheduled Package Loss</em>
                </div>
                <div fxLayout="column" fxFlex="30">
                    <em>Scheduled Package Loss</em>
                    <em>Scheduled Package Loss</em>
                </div>
                <div fxLayout="column" fxFlex="40">
                    <div style="height: 200px;" class="row">
                        <canvas baseChart [data]="demodoughnutChartData" [options]="chartOptions" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                            [colors]="chartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>

        <div fxLayout="column">
            <div fxLayout="row">
                <div class="dashrow-one">
                    <em>KPI: Data Loss
                        <i class="fa fa-info-circle"></i>
                    </em>
                </div>
                <div class="dashrow-one">
                    <em>Date
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </em>
                </div>
                <div class="dashrow-one">
                    <em> Export
                        <button type="button">Export</button>
                    </em>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div fxLayout="column" fxFlex="30">
                    <em>Scheduled Package Loss</em>
                    <em>Scheduled Package Loss</em>
                </div>
                <div fxLayout="column" fxFlex="30">
                    <em>Scheduled Package Loss</em>
                    <em>Scheduled Package Loss</em>
                </div>
                <div fxLayout="column" fxFlex="40">
                    <div style="height: 200px;" class="row">
                        <canvas baseChart [data]="demodoughnutChartData" [options]="chartOptions" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                            [colors]="chartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="column">
            <div fxLayout="row">
                <div class="dashrow-one">
                    <em>KPI: Data Loss
                        <i class="fa fa-info-circle"></i>
                    </em>
                </div>
                <div class="dashrow-one">
                    <em>Date
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </em>
                </div>
                <div class="dashrow-one">
                    <em> Export
                        <button type="button">Export</button>
                    </em>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div fxLayout="column" fxFlex="30">
                    <em>Scheduled Package Loss</em>
                    <em>Scheduled Package Loss</em>
                </div>
                <div fxLayout="column" fxFlex="30">
                    <em>Scheduled Package Loss</em>
                    <em>Scheduled Package Loss</em>
                </div>
                <div fxLayout="column" fxFlex="40">
                    <div style="height: 200px;" class="row">
                        <canvas baseChart [data]="demodoughnutChartData" [options]="chartOptions" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                            [colors]="chartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>