<app-header></app-header>
<app-left-navigation></app-left-navigation>
<h5>KPI: Data Loss <i class="fa fa-info-circle"></i></h5>
<i class="fa fa-calendar" aria-hidden="true"></i><button type="button">Export</button>
<div class="row">
<div class="col-md-6">
    <div>
       <span>Schedule packet loss</span><br>
       <span>Hazardous Pocket loss</span>
       
    </div>

</div>
<div class="col-md-6">
    <div>
        <h5>KPI: KPI Accuracy <i class="fa fa-info-circle"></i></h5> 
    </div>
</div>
</div>