<app-header></app-header>
<app-left-navigation></app-left-navigation>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column" class="operationalHeading">
    <div fxLayout="row">
        <div fxFlex="">
            <h1>Operational Dashboard</h1>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex="">
            <span class="opSite">Site</span>
        </div>
        <div fxFlex="">
            <div class="" class="siteSearch" *ngIf="sites && sites.length > 0">
                <ng-select [items]="filteredSites" placeholder="Select Site" appendTo="body" [multiple]="false"
                    bindLabel="siteName" bindValue="siteId" [(ngModel)]="selectedSiteId" (search)="onSearch($event)"
                    (clear)="onClear()" (close)="onClose()" (change)="onChange($event)">
                    >
                </ng-select>

            </div>
        </div>

    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column" class="operationalChartRow">
    <div fxLayout="column">
        <div fxLayout="row" class="dashrow-one">
            <em>Safety Alerts</em>
            <span class=""> {{employeeDashboardDto.totalRecords}} Total Employees </span>
        </div>
        <div fxLayout="column">
            <div class="" *ngIf="alertDashboardDto && alertDashboardDto.totalZones > 0">
                <div id="chart-container" *ngIf="safetyAlertsDayCounts.length > 0">
                    <canvas baseChart style="width: 550px;height: 200px;" [datasets]="lineChartData"
                        [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                        [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins"
                        (chartHover)="lineChartHovered($event)" (chartClick)="lineChartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row" class="dashrow-one" style="width: 400px;">
            <em>Battery Status</em>
            <!-- <span class=""> {{employeeDashboardDto.batteryPercentAlertValue}} Devices </span> -->
        </div>
        <div fxLayout="column">
            <div class="" *ngIf="alertDashboardDto && alertDashboardDto.totalZones > 0">
                <div id="chart-container" style="display: block;">
                    <!-- <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="chartType"
                        [options]="pieChartOptions" [colors]="batteryPieChartColors" [legend]="pieChartLegend">
                    </canvas> -->
                    <canvas baseChart *ngIf="demodoughnutChartData" [data]="demodoughnutChartData"
                        [options]="doughnutOptions" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                        [plugins]="doughnutChartPlugins" [colors]="chartColors" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row" class="dashrow-one">
            <em>Overcrowding Alerts</em>
            <span class=""> {{alertDashboardDto.totalZones}} Total Zones </span>
        </div>
        <div fxLayout="column">
            <div class="" *ngIf="alertDashboardDto && alertDashboardDto.totalZones > 0">
                <div id="chart-container">
                    <canvas baseChart [chartType]="chartType" [data]="chartData" [labels]="chartLabels"
                        [options]="chartOptions" [colors]="pieChartColors" [plugins]="doughnutChartPlugins">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="dataTabal opD">
    <div *ngIf="showEmployeeList" class="">
        <div class="dataTblHeadings">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column">
                <div fxLayout="row">
                    <div fxFlex="34">
                        <button type="button" class="btn btn-info empList" (click)="showEmployees()">
                            <span>Employee List</span>
                        </button>
                    </div>
                    <div fxFlex="25">
                        <button type="button" class="btn btn-info empListNoBG" (click)="showZones()">Zone
                            List</button>
                    </div>
                    <div fxFlex="" class="input-wrapper">
                        <input type="text" class="form-control searchOp" [(ngModel)]="searchEmployeeId"
                            placeholder="Search Employee Id" (keyup.enter)="onEnter()">
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="100">
                        <div class="showPagination" *ngIf="showPagination">
                            <span *ngIf="enableFirstPager">
                            </span>


                            <span>
                            </span>
                            <span>

                            </span>
                            <span *ngIf="showFirstPager"><button type="button" class="ml-3 d-inline btn btn-info"
                                    (click)="pagerNumClicked(firstPager, 1)">{{firstPager}}</button></span>
                            <span *ngIf="showSecondPager"><button type="button" class="ml-3 d-inline btn btn-info"
                                    (click)="pagerNumClicked(secondPager, 2)">{{secondPager}}</button></span>
                            <span *ngIf="showThirdPager"><button type="button" class="ml-3 d-inline btn btn-info"
                                    (click)="pagerNumClicked(thirdPager, 3)">{{thirdPager}}</button></span>
                            <span *ngIf="showFourthPager"><button type="button" class="ml-3 d-inline btn btn-info"
                                    (click)="pagerNumClicked(fourthPager, 4)">{{fourthPager}}</button></span>
                            <span *ngIf="showFifthPager"><button type="button" class="ml-3 d-inline btn btn-info"
                                    (click)="pagerNumClicked(fifthPager, 5)">{{fifthPager}}</button></span>
                            <span><i *ngIf="enableNextPager" style="cursor:pointer;" (click)="pagerClicked('next')"
                                    class="ml-3" aria-hidden="true"></i></span>
                            <span><i *ngIf="!enableNextPager" style="pointer-events:none;color: grey;" class="ml-3 "
                                    aria-hidden="true"></i></span>
                            <span><i *ngIf="enableLastPager" style="cursor:pointer;" (click)="pagerClicked('last')"
                                    class="ml-3 " aria-hidden="true"></i></span>
                            <span><i *ngIf="!enableLastPager" style="pointer-events:none;color: grey;" class="ml-3 fa "
                                    aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div fxFlex="22">
                        <div *ngIf="showEmployeeList && employeeDashboardDto">
                            <div class="">
                                <select class="form-control" [(ngModel)]="size" (change)="onSizeChange($event)">
                                    <option [value]="10">10</option>
                                    <option [value]="25">25</option>
                                    <option [value]="50">50</option>
                                    <option [value]="100">100</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div fxFlex="">
                        <div class="">
                            <button type="button" class="btn btn-info exportBtn" (click)="export()">Export</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- <div fxLayout="row" class="TblSubheading">
            <div fxFlex="">one</div>
        </div> -->

        <ag-grid-angular #agGrid style="width: 100%; height: 100%; flex-grow: 1;" id="myGrid" class="ag-theme-alpine"
            [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)"
            [rowData]="employeeDashboardDto.employeestatus">
        </ag-grid-angular>
    </div>
    <div *ngIf="showZoneList" class="">
        <div class="dataTblHeadings">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column">
                <div fxFlex="10">
                    <button type="button" class="btn btn-info empListNoBG" (click)="showEmployees()">
                        Employee
                        List</button>
                </div>
                <div fxFlex="10">
                    <button type="button" class="btn btn-info empList" (click)="showZones()">
                        <span>Zone List</span></button>
                </div>
                <div fxFlex="8">
                    <span class=" dataTopShow"> Select Hierarchy</span>
                </div>
                <div fxFlex="20" class="opdMheaderSlt">
                    <select class="form-control" [(ngModel)]="selectedHieararchy">
                        <option *ngFor="let hierarchy of hierarchyLevelMapDto.hierarchyLevelMapList"
                            value="{{hierarchy.hierarchyLevelMapName}}">{{hierarchy.hierarchyLevelMapName}}
                        </option>
                    </select>
                </div>
                <div fxFlex="">

                </div>
                <div fxFlex="">

                </div>
                <div fxFlex="">
                    <span class="dataTopShow total"> Total Number Of Employees : {{totalNoOfEmployeesOfZone}}</span>
                </div>

            </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="">
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"
                    class="mat-elevation-z8">

                    <!-- Name Column -->
                    <ng-container matColumnDef="Zone Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="zoneName">Zone Name </th>
                        <td mat-cell *matCellDef="let element; let j = index" (mouseenter)="highlightZone(j)"
                            (click)="navigateToZoneDashboard(element.zoneId)">
                            {{j + 1 + "." + element.zoneName}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="Count">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="count"> Employee Count </th>
                        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="Beacon Count">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="beaconCount"> Beacon Count
                        </th>

                        <td mat-cell *matCellDef="let element">
                            <a (click)="showBeaconList(element.zoneId)" style="cursor: pointer;"
                                color="primary"><b>{{element.beaconCount}}</b></a>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <span class="ml-5 row totalMap">{{employeeZoneDtos.length}} Total</span>
            </div>
            <div fxFlex="">
                <div fxLayout="row" class="zoomInOut">
                    <div fxFlex="6"><i (click)="zoomToggle(true)" class="fa fa-search-plus" aria-hidden="true"></i></div>
                    <div fxFlex="6"><i (click)="zoomToggle(false)" class="fa fa-search-minus" aria-hidden="true"></i> </div>
                    <div fxFlex="6"><i (click)="zoomReset()" class="fa fa-refresh" aria-hidden="true"></i> </div>
                </div>
                <div #canvasDiv class="col-md-12">
                    <div id="panzoom" #panzoomDiv>
                        <img id="canvasBGImage" #canvasBGImage height=" {{canvasHeight}}"  width=" {{canvasWidth}}" />
                        <canvas #canvas class=" canvas"  width="{{canvasWidth}}"  height="{{canvasHeight}}"></canvas>
                        <canvas #canvasupper class="canvas"  width="{{canvasWidth}}"  height="{{canvasHeight}}"
                            (mousemove)="mousemove($event)"></canvas>
                    </div>

                    <!-- <canvas #canvasupper class="canvas"  width="{{canvasWidth}}"  height="{{canvasHeight}}" (mousemove)="mousemove($event)" (click)="canvasOnClick($event)"></canvas> -->
                </div>
            </div>
        </div>
    </div>
</div>