<app-header></app-header>
<app-left-navigation></app-left-navigation>


<div fxLayout="row" fxlayoutAlign="space-between center" fxLayout.lt-sm="column" class="operationalHeading executiveDashboardMain">
    <div fxLayout="row">
        <div fxFlex="">
            <h1>Beacon Last Communication</h1>
        </div>
    </div>

</div>

<div fxLayout="row" fxLayout.lt-sm="column" class="executiveDashboard beacon">
    <div fxLayout="column">
        <div fxFlex="">
            <span>City</span>
        </div>
        <div fxFlex="" class="Gap">
            <mat-form-field appearance="fill">
                <mat-select (selectionChange)="cityChanged($event)" [(ngModel)]="selectedCity">
                    <mat-option *ngFor="let city of cityNames" [value]="city">
                        {{city}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="column">
        <div fxFlex="">
            <span>Plant</span>
        </div>
        <div fxFlex="">
            <mat-form-field *ngIf="plantNames" appearance="fill">
                <mat-select (selectionChange)="plantChanged($event)" [(ngModel)]="selectedPlant">
                    <mat-option *ngFor="let plant of plantNames" [value]="plant">
                        {{plant}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" class="exeHeadingBtns">
        <button type="button" class="ml-3 btn btn-info exeClear" (click)="reset()">
            <span>Reset</span>
        </button>
        <button type="button" class="ml-3 btn btn-info exesearch" (click)="search()">
            <span>Search</span>
        </button>
    </div>
</div>


<div class="utilTblData">
    <div class="stickyGateTbl">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column" class="utilSticky">
            <div fxFlex="20" class="dataTblHeadings">
                <div class="input-wrapper">
                    <input type="text" class="form-control" [(ngModel)]="searchBeaconId"
                            placeholder="Search BeaconID" (keyup.enter)="onBeaconIdEnter()">
                </div>
            </div>
            <div fxFlex="30" class="">
              
            </div>
            <div fxFlex="" class="dataTblHeadings">
                <div class="noBg" *ngIf="showPagination">
                    <span *ngIf="enableFirstPager">
                        <!-- <i style="cursor:pointer;" (click)="pagerClicked('first')"
                            class="fa fa-step-backward" aria-hidden="true">
                        </i> -->
                    </span>
                    <span *ngIf="!enableFirstPager">
                        <!-- <i style="pointer-events:none;color: grey;"
                            class="fa fa-step-backward" aria-hidden="true">
                        </i> -->
                    </span>
                    <span><i *ngIf="enablePreviousPager" style="cursor:pointer;" (click)="pagerClicked('previous')"
                            class="ml-3 fa fa-caret-left" aria-hidden="true"></i></span>
                    <span><i *ngIf="!enablePreviousPager" style="pointer-events:none;color: grey;"
                            class="ml-3 fa fa-caret-left" aria-hidden="true"></i></span>
                    <span *ngIf="showFirstPager"><button type="button"
                            [ngStyle]="{'background-color': selectedPageValue == firstPager? 'black': '#17a2b8'}"
                            class="ml-3 d-inline btn btn-info"
                            (click)="pagerNumClicked(firstPager, 1)">{{firstPager}}</button></span>
                    <span *ngIf="showSecondPager"><button type="button"
                            [ngStyle]="{'background-color': selectedPageValue == secondPager? 'black': '#17a2b8'}"
                            class="ml-3 d-inline btn btn-info"
                            (click)="pagerNumClicked(secondPager, 2)">{{secondPager}}</button></span>
                    <span *ngIf="showThirdPager"><button type="button"
                            [ngStyle]="{'background-color': selectedPageValue == thirdPager? 'black': '#17a2b8'}"
                            class="ml-3 d-inline btn btn-info"
                            (click)="pagerNumClicked(thirdPager, 3)">{{thirdPager}}</button></span>
                    <span *ngIf="showFourthPager"><button type="button"
                            [ngStyle]="{'background-color': selectedPageValue == fourthPager? 'black': '#17a2b8'}"
                            class="ml-3 d-inline btn btn-info"
                            (click)="pagerNumClicked(fourthPager, 4)">{{fourthPager}}</button></span>
                    <span *ngIf="showFifthPager"><button type="button"
                            [ngStyle]="{'background-color': selectedPageValue == fifthPager? 'black': '#17a2b8'}"
                            class="ml-3 d-inline btn btn-info"
                            (click)="pagerNumClicked(fifthPager, 5)">{{fifthPager}}</button></span>
                    <span><i *ngIf="enableNextPager" style="cursor:pointer;" (click)="pagerClicked('next')"
                            class="ml-3 fa fa-caret-right" aria-hidden="true"></i></span>
                    <span>
                        <i *ngIf="!enableNextPager" style="pointer-events:none;color: grey;"
                            class="ml-3 fa fa-caret-right" aria-hidden="true">
                        </i>
                    </span>
                    <span>
                        <!-- <i *ngIf="enableLastPager" style="cursor:pointer;" (click)="pagerClicked('last')"
                            class="ml-3 fa fa-step-forward" aria-hidden="true">
                        </i> -->
                    </span>
                    <span>
                        <!-- <i *ngIf="!enableLastPager" style="pointer-events:none;color: grey;"
                            class="ml-3 fa fa-step-forward" aria-hidden="true">
                        </i> -->
                    </span>

                </div>
            </div>
            <div fxFlex="" class="one dataTblHeadings">
                <div>
                    <div fxFlex="50">
                        
                    </div>
                    <div fxFlex="80">
                        
                    </div>
                    <div fxFlex="">
                        <!-- <span class="">Show</span> -->
                    </div>
                    <div fxFlex="">
                        <!-- <span class="">Show</span> -->
                    </div>
                 
                    <div fxFlex="">
                        <select class="form-control" [(ngModel)]="size" (change)="onSizeChange($event)">
                            <option [value]="10">10</option>
                            <option [value]="25">25</option>
                            <option [value]="50">50</option>
                            <option [value]="100">100</option>
                        </select>
                    </div>
                    <div fxFlex="50">
                        <span class="toTalRecords">{{totalRecords}}</span>
                        <span class="">Total</span>
                    </div>
                    <div fxFlex="">
                        <!-- <span class="">{{totalRecords}}Total</span> -->
                    </div>
        
                </div>
                <div fxFlex="" class="two">
                    <button type="button" class="ml-2 d-inline btn btn-info exportBtn"
                    (click)="exportBeaconData()">Export</button>
                </div>
            </div>
            
        
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="">
            <table mat-table [dataSource]="dataSourceForBeacons" matSort (matSortChange)="sortData($event)"
            class="mat-elevation-z8" class="tblBg">

            <!-- Name Column -->
            <ng-container matColumnDef="Beacon ID" class="stickyData">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="beaconId">Beacon ID </th>
                <td mat-cell *matCellDef="let element">
                    {{element.beaconId}} </td>
            </ng-container>
            <ng-container matColumnDef="Beacon Type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="beaconType">Beacon Type</th>
                <td mat-cell *matCellDef="let element">
                    {{element.beaconType}} </td>
            </ng-container>
            <ng-container matColumnDef="Serial Number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="serialNumber">Serial Number
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.serialNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="zone.zoneName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="zone.zoneName"> Zone Name
                </th>
                <td  mat-cell *matCellDef="let element"> {{element.zone?element.zone.zoneName:'-'}} </td>
            </ng-container>
            <ng-container matColumnDef="plant.plantName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="plant.plantName"> Plant Name
                </th>
                <td mat-cell *matCellDef="let element"> {{element.plant.plantName}} </td>
            </ng-container>
            <ng-container matColumnDef="site.siteName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="site.siteName"> Site Name
                </th>
                <td mat-cell *matCellDef="let element"> {{element.site?element.site.siteName:'-'}} </td>
            </ng-container>
            <ng-container matColumnDef="Last Communication">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="bleDetectedTime">Last Communication
                </th>
                <td mat-cell *matCellDef="let element">{{datePipe.transform(element.bleDetectedTime, 'dd-MMM-yyyy HH:mm')}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsForBeaconList" class="tabaleMat"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsForBeaconList;"></tr>
        </table>
        </div>
    </div>

