<section class="signIn forGotPassword">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-7 col-sm-12 p-0 imgDiv">
                <img src="assets/svg/Cogs.svg" class="img-fluid left-image" alt="Login-image">
            </div>
            <div class="col-lg-5 col-sm-12 my-4 mx-auto">
                <div class="col-lg-12 my-4 text-center">
                    <img src="assets/svg/logo-stacked.svg" alt="logo-stacked.svg">
                    <H1 class="ml-1">CONNECTED WORKERS</H1>
                </div>
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h3>Change Password</h3>
                        <div class="form-group" [formGroup]="resetPassword">
                            <div class="form-group">
                                <input type="text" formControlName="newPassword" (keyup)="validate()"
                                    class=" form-control textbox" placeholder="New Password" />
                                <div *ngIf="showNewPasswordMessage || resetPassword.controls['newPassword'].invalid && (resetPassword.controls['newPassword'].dirty || resetPassword.controls['newPassword'].touched)"
                                    class="alert alert-danger">
                                    {{newPasswordError}}
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="confirmPassword" (keyup)="validate()"
                                    class="form-control textbox" placeholder="Confirm Password" />
                                <div *ngIf="showConfirmPasswordMessage || resetPassword.controls['confirmPassword'].invalid && (resetPassword.controls['confirmPassword'].dirty || resetPassword.controls['confirmPassword'].touched)"
                                    class="alert alert-danger">
                                    {{confirmPasswordError}}
                                </div>
                            </div>

                            <div class="form-row text-center">
                                <div class="col-lg-12 col-xs-12">
                                    <button i18n="@@signIn" class="signIn-btn mb-3 mt-3 col-xs-12" type="submit">Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center lorawanB">
                            <img src="assets/svg/lorawan.svg" class="lorawan" alt="lorawan">
                            <img src="assets/svg/b-l-e.svg" alt="b-l-e">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>