/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
html, body { height: 100%; }
body { margin: 0; padding : 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.siteSearch .ng-select .ng-select-container {
    color: #333;
    background-color: #f8fbfb;
    border-radius: 4px;
    border: 1px solid #fffefe;
    min-height: 36px;
    align-items: center;
    width: 300px;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
    font-size: 12px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.ag-theme-alpine .ag-ltr .ag-cell{
    font-size: 12px;
    border-bottom: solid 1px rgb(43,95,143);
    border-top: 0;
}
.ag-theme-alpine{
    background-color: rgb(247,247,247);
    padding: 0px 10px 10px 10px;
}
.ag-theme-alpine .ag-cell, .ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group{
    border : none;
}
.ag-theme-alpine .ag-root-wrapper{
    border: none;
}
#myGrid{
    padding: 0;
}
.ag-theme-alpine .ag-row {
    font-size: 14px;
    border: 0;
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    padding: 0;
    border: 0;
    border-radius: 4px;
}
.ng-select.ng-select-single .ng-select-container{
    background-color: rgb(245,247,250);
}
.ng-select .ng-select-container{
    border : none;
}
.zoneStick.ng-select .ng-select-container.ng-has-value {
    background-color: #fff;
    font-size: 12px;
    height: 25px;
}
table.mat-table {
    border-spacing: 0;
    margin: 0 auto;
    width: 100%;
    font-size: 1rem;
}
.ng-input> input{
    font-size: 12px;
}
.mat-sort-header, .mat-cell {
    font-size: 12px;
}
.mat-header-row, .mat-header-cell{
    font-size: 12px;
    font-weight: bold;
}
.mat-form-field-appearance-fill .mat-form-field-infix {
    padding: .25em 0 .75em 0;
    background: none;
    padding: 0;
    border-radius: 14px;
    border: none;
}
.operationalHeading .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px !important;
    padding: 12px 15px !important;
    background-color: rgb(245 249 250) !important;
    margin-top: 13px;
    width: 250px !important;
}
.mat-select-arrow {

    margin-top: 11px !important;
}
.dataTabal.opD .ag-theme-alpine .ag-filter-toolpanel-header, .ag-theme-alpine .ag-filter-toolpanel-search, .ag-theme-alpine .ag-status-bar, .ag-theme-alpine .ag-header-row, .ag-theme-alpine .ag-panel-title-bar-title, .ag-theme-alpine .ag-multi-filter-group-title-bar
.mat-form-field-appearance-fill {
    font-weight: 700;
    color: rgb(43,95,143);
    color: var(--ag-header-foreground-color, var(--ag-secondary-foreground-color, var(--ag-foreground-color, #181d1f)));
    background: rgb(220,230,245);
    position: sticky !important;
    top: 0;
}
.dataTabal.opD tr.mat-header-row{
    background-color: rgb(220,230,245);
}
.dataTabal.opD tr.mat-row, tr.mat-footer-row{
    background-color: rgb(245,247,250);
}
.dataTabal.opD .ag-header-cell:nth-child(6){
    background-color: #fff;
    border-right: solid 5px rgb(220,230,245);
}
.dataTabal.opD .ag-header-cell:nth-child(7){
    background-color: #fff;
    margin-right: 2px;
    border-right: solid 5px rgb(220,230,245);
}
.dataTabal.opD .ag-header-cell:nth-child(8){
    background-color: #fff;;
}
.dataTabal.opD .mat-sort-header-content {
    color: rgb(43,95,143);
    font-size: 12px;
    font-weight: bold;
}
.dataTabal.opD .mat-sort-header-arrow{
    color: rgb(43,95,143);
    opacity: 1;
  }
  .dataTabal.opD .mat-elevation-z8{
      box-shadow: none;
  } 
.dataTabal.opD .ag-theme-alpine .ag-ltr .ag-cell{
    background-color: rgb(245,247,250);
}
.dataTabal.opD .ag-theme-alpine .ag-ltr .ag-cell:nth-child(6){
    background-color: rgb(255, 255, 255);
    border-right: solid 5px rgb(220,230,245);
}
.dataTabal.opD .ag-theme-alpine .ag-ltr .ag-cell:nth-child(7){
    background-color: rgb(255, 255, 255);
    border-right: solid 5px rgb(220,230,245);
}
.dataTabal.opD .ag-theme-alpine .ag-ltr .ag-cell:nth-child(8){
    background-color: rgb(255, 255, 255);
    border-right: solid 5px rgb(220,230,245);
}
.dataTabal.opD .showPagination button{
    background-color: transparent;
    color: #f3f3f3;
}
.dataTabal.opD .btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle{
    color: #fff;
}
.dataTabal.opD .ag-header-cell-text{
    color: rgb(43,95,143);
    font-size: 12px;
    font-weight: bold;
}
.dataTabal.opD .mat-header-cell:nth-child(4){
    background-color: rgb(255, 255, 255);
}
.dataTabal.opD .mat-column-Hot-Zone{
    background-color: rgb(255, 255, 255);
    padding: 0 0 0 27px;
    width: 112px;
}
/* .dataTabal.opD .ag-theme-alpine .ag-row{
    margin: 0 10px;
} */
.cdk-overlay-container{ z-index: 1200 !important; }
.tZone .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff !important;
    margin: 0;
    height: 33px;
}
.tZone .mat-form-field-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
}
.tZone .mat-form-field-ripple {
    position: absolute;
    left: 0;
    width: 100%;
    transform-origin: 50%;
    transform: scaleX(0.5);
    opacity: 0;
    transition: background-color 300ms cubic-bezier(0.22, 0, 0.22, 0.0);
    background-color: #e9f2f8;

}
.mat-select-value-text, .mat-option-text{
    font-size: 12px;
}
.mat-select-panel .mat-option {
    font-size: inherit;
    line-height: 2em;
    height: 2em !important;
}
.tZone .mat-select-value-text, .mat-option-text{
    font-size: 12px;
    position: relative;
    top: -4px;
}

/* opt dashboard */
.signIn.forGotPassword .otp-input{
    width: 59px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgb(165,193,225)!important;
    text-align: center;
    font-size: 32px;
    color: rgb(43,95,143) ;
}
.signIn.forGotPassword .otp-input:focus-visible{

    border: 1px solid rgb(120,162,210) !important;

    color: rgb(120,162,210) ;
}
.signIn.forGotPassword .wrapper .otp-input{
    margin-left: 0 !important;
    color: rgb(61,133,198);
    font-size: 20px;
}
.mat-dialog-title{
    background:none !important;
    color : #B00020 !important;
    margin-bottom: 10px !important;
}
.mat-dialog-container{
    background-color: rgb(245,247,250);
    display: block;
    padding: 24px 30px;
    font-size: 14px;
}
.mat-dialog-actions {
    padding: 13px 0 !important   
}
/* executive dashboard */
.executiveDashboard .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 15px 15px  !important;
    background-color:rgb(245,247,250) !important;
    margin-top: 5px;
    width: 250px !important;
}
.executiveDashboard.zone .mat-form-field-appearance-fill .mat-form-field-flex{
    width: 230px !important;
}
.executiveDashboard .mat-form-field-wrapper {
    padding-bottom: 0;
}
.executiveDashboard .mat-form-field-appearance-fill .mat-form-field-ripple{
    bottom: -24px !important;
    height: 1px;
}
/* card utilization */
#resetModalUtilization .mat-form-field-appearance-fill .mat-form-field-flex{
    padding-bottom: 10px;
    background-color: rgb(255,255,255);
    height: 40px;
    border-radius: 4px;
    border: solid 1px #e3e3e3;
}
.modal-body span{
    font-size: 12px;
    font-weight: 700;
} 
.mat-select-value-text{
    font-size: 12px;
    font-weight: normal !important;
}
.mat-select-value-text .mat-form-field-flex{
    border : solid 1px #e3e3e3;
    background-color: rgb(255,255,255);
    border-radius: 4px;
}
.cardDate .mat-form-field-flex{
    width: 90%;
    height: 44px;
    border : solid 1px #e3e3e3;
    background-color: rgb(255,255,255);
    border-radius: 4px !important;
}
.cardDate .mat-form-field-underline{
    width: 0;
}
.mat-form-field-underline {
    width: 0 !important;
}
.operationalHeading.executiveDashboardMain .mat-form-field-underline{
    width: 0 !important;
}
.cardDate .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    animation: cdk-text-field-autofill-end 0s 1ms;
    position: relative;
    bottom: 16px;
    font-size: 12px;
}
.cardTotalReport .mat-form-field-flex  {
        display: inline-flex;
        align-items: baseline;
        box-sizing: border-box;
        width: 468px;
        height: 41px;
        background-color: rgb(255, 255, 255);
        border: solid 1px #e3e3e3;
        border-radius: 4px !important;
}
.cardCity .mat-form-field-flex  {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    height: 41px;
    background-color: rgb(255, 255, 255);
    border: solid 1px #e3e3e3;
    border-radius: 4px !important;
    width: 107%;
}
.cardTotalSlt .gateWaySlt .mat-form-field-flex {
    width: 119%;
    height: 50px;
    background-color: transparent;
    position: relative;
    left: -13px;
    top: -10px;
}
.cardTotalSlt .gateWaySlt .mat-select-arrow{
    position: relative;
    top :5px;
}
.mat-form-field-appearance-fill{
    height: 40px;
}
.modal-header{
    border: none;
}
svg.mat-datepicker-toggle-default-icon.ng-star-inserted {
    position: relative;
    bottom: 10px;
    color: rgb(43,95,143);
    right : -10px;
}
.close.closeX {
    font-weight:300;
    font-size: 24px;
}
.mat-form-field-appearance-fill:not(.mat-form-field-disabled) .mat-form-field-flex:hover~.mat-form-field-underline .mat-form-field-ripple{
    opacity: 0 !important;
}
span.mat-select-min-line{
    font-weight: normal;
    font-size: 12px;
}
.stickyGateTbl .mat-sort-header-content{
    color: rgb(43,95,143);
    font-weight: normal;
    font-size: 14px;
    font-weight: 600;
}
.stickyGateTbl .mat-sort-header-arrow{
    color: rgb(43,95,143);
    opacity: 1 !important;
}
.executiveDashboard.beacon .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 15px 15px  !important;
    background-color:rgb(245,247,250) !important;
    margin-top: 5px;
    width: 340px !important;
}
.fa-caret-left::before{
    content: "\f100" !important;
}
.fa-caret-right:before {
    content: "\f101" !important;
}
.fa-caret-right.ng-star-inserted{
    color: #fff;
}
/* .dashrow-one .mat-form-field-prefix, .mat-form-field-suffix{
    top:14px !important;
} */
.dashrow-one .mat-button-ripple.mat-ripple, .mat-button-focus-overlay{
position:  relative !important;
}
.dashrow-one .mat-date-range-input-container{
    font-size: 10px !important;
}
