<div class="container-fluid">
    <div class="row" *ngIf="!newCity">View City</div>
    <div class="row" *ngIf="newCity">Add City</div>
    <div class="row">
        <div class="d-inline"><button type="button" class="btn btn-info" (click)="showGeneral()">General</button>
        </div>
        <div class="ml-5 d-inline"><button type="button" class="btn btn-info" (click)="showAddress()">Address</button>
        </div>
        <div class="ml-5 d-inline"><button type="button" class="btn btn-info" (click)="showConfig()">Config</button>
        </div>
        <div class="ml-5 d-inline"><button type="button" class="btn btn-info" (click)="showRule()">Rule</button>
        </div>
        <div class="ml-5 d-inline"><button type="button" class="btn btn-info" (click)="showColor()">Color</button>
        </div>
    </div>

    
        <!-- <div *ngIf="showGeneralDetails && !newCity" class="mt-3">
            <div class="row">City Name
                <input type="text" [(ngModel)]="city.cityName" class="form-control" readonly>
            </div>
            <div class="row"> Status
                <select [(ngModel)]="city.active" disabled class="form-control">
                    <option [value]="true">Active</option>
                    <option [value]="false">Inactive</option>
                </select>
            </div>
            <div class="row">
                Description <input type="text" [(ngModel)]="city.description" class="form-control" readonly></div>
            <div class="row">Email Address <input type="text" [(ngModel)]="city.emailId" class="form-control" readonly></div>
            <div class="row">Contact Number <input type="text" [(ngModel)]="city.phoneNumber" class="form-control" readonly></div>
            <div class="mt-5 row float-right">
                <button type="button" class="btn btn-info" (click)="showAddress()">Next</button>
            </div>
        </div> -->



<!-- here form-->
<div class="mt-5">

<div class="" *ngIf="showGeneralDetails && !newCity">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="form_name">City Name *</label>
                <input type="text" [(ngModel)]="city.cityName" class="form-control" readonly>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="form_email">Status</label>
                <select [(ngModel)]="city.active" disabled class="form-control">
                    <option [value]="true">Active</option>
                    <option [value]="false">Inactive</option>
                </select>                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="form_phone">Description</label>
                <input type="text" [(ngModel)]="city.description" class="form-control" readonly>                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="form_name">Email Address</label>
                <input type="text" [(ngModel)]="city.emailId" class="form-control" readonly>                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="form_email">Contact Number</label>
                <input type="text" [(ngModel)]="city.phoneNumber" class="form-control" readonly>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <button type="button" class="btn btn-info" (click)="showAddress()">Next</button>
            </div>
        </div>
    </div>
</div>

        <div *ngIf="showGeneralDetails && newCity" class="mt-3">
            <div class="row">City Name
                <input type="text" [(ngModel)]="city.cityName">
            </div>
            <div class="row"> Status
                <select [(ngModel)]="city.active">
                    <option [value]="true">Active</option>
                    <option [value]="false">Inactive</option>
                </select>
            </div>
            <div class="row">Description <input type="text" [(ngModel)]="city.description"></div>
            <div class="row">Email Address <input type="text" [(ngModel)]="city.emailId"></div>
            <div class="row">Contact Number <input type="text" [(ngModel)]="city.phoneNumber"></div>
            <div class="mt-5 row float-right">
                <button type="button" class="btn btn-info" (click)="showAddress()">Next</button>
            </div>
        </div>

        <div *ngIf="showAddressDetails && !newCity" class="mt-3">
            <div class="row">Address <input type="text" [(ngModel)]="city.address.address1" readonly></div>
            <div class="row">City <input type="text" [(ngModel)]="city.address.city" readonly></div>
            <div class="row">State <input type="text" [(ngModel)]="city.address.state" readonly></div>
            <div class="row">Country <input type="text" [(ngModel)]="city.address.country" readonly></div>
            <div class="row">Postal Code <input type="text" [(ngModel)]="city.address.postalCode" readonly></div>
            <div class="mt-5 row">
                <button type="button" class="d-inline btn btn-info" (click)="showGeneral()">Back</button>
                <button type="button" class="ml-5 d-inline btn btn-info" (click)="showConfig()">Next</button>
            </div>
        </div>
        <div *ngIf="showAddressDetails && newCity" class="mt-3">
            <div class="row">Address <input type="text" [(ngModel)]="city.address.address1"></div>
            <div class="row">City <input type="text" [(ngModel)]="city.address.city"></div>
            <div class="row">State <input type="text" [(ngModel)]="city.address.state"></div>
            <div class="row">Country <input type="text" [(ngModel)]="city.address.country"></div>
            <div class="row">Postal Code <input type="text" [(ngModel)]="city.address.postalCode"></div>
            <div class="mt-5 row">
                <button type="button" class="d-inline btn btn-info" (click)="showGeneral()">Back</button>
                <button type="button" class="ml-5 d-inline btn btn-info" (click)="showConfig()">Next</button>
            </div>
        </div>
        <div *ngIf="showConfigDetails" class="mt-3">
            <div class="row">Hierarchy Level <input type="text" [(ngModel)]="cityConfig.hierarchylevel" readonly></div>
            <div class="container">
                <div class="row" [ngStyle]="{'background-color': showSoSAlert? 'cornflowerblue': 'black'}"
                    style="cursor: pointer; width: 650px;color: white;" (click)="showSoS()">SOS Alert</div>
                <div class="row" [ngStyle]="{'background-color': showHazardousAlert? 'cornflowerblue': 'black'}"
                    style="cursor: pointer;width: 650px;color: white;" (click)="showHazardous()">Hazardous Alert</div>
                <div class="row" [ngStyle]="{'background-color': showBatteryAlert? 'cornflowerblue': 'black'}"
                    style="cursor: pointer;width: 650px;color: white;" (click)="showBattery()">Battery Alerts</div>
            </div>
            <div class="container" style="border: black;">
                Email Template
                <div *ngIf="showSoSAlert && sosTemplates.length > 0">
                    <div *ngFor="let template of sosTemplates">
                        <div class="mt-2 row">
                            <div class="d-inline">{{template.templateName}}</div>
                            <div class="ml-3 d-inline">
                                <button type="button" class="ml-5 d-inline btn btn-info"
                                    (click)="showDetailsOfTemplate(template.template)">Eye
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="overlay" *ngIf="showDialog">
                        <a class="close" style="cursor: pointer;" (click)="showDialog = false">&times;</a>
                        <div class="content" [innerHTML]="templateData">
                        </div>
                    </div>
                </div>
                <div *ngIf="showHazardousAlert && hazardousTemplates.length > 0">
                    <div *ngFor="let template of hazardousTemplates">
                        <div class="mt-2 row">
                            <div class="d-inline">{{template.templateName}}</div>
                            <div class="ml-3 d-inline">
                                <button type="button" class="ml-5 d-inline btn btn-info"
                                    (click)="showDetailsOfTemplate(template.template)">Eye
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="overlay" *ngIf="showDialog">
                        <a class="close" style="cursor: pointer;" (click)="showDialog = false">&times;</a>
                        <div class="content" [innerHTML]="templateData">
                        </div>
                    </div>
                </div>
                <div *ngIf="showBatteryAlert && batteryTemplates.length > 0">
                    <div *ngFor="let template of batteryTemplates">
                        <div class="mt-2 row">
                            <div class="d-inline">{{template.templateName}}</div>
                            <div class="ml-3 d-inline">
                                <button type="button" class="ml-5 d-inline btn btn-info"
                                    (click)="showDetailsOfTemplate(template.template)">Eye
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="overlay" *ngIf="showDialog">
                        <a class="close" style="cursor: pointer;" (click)="showDialog = false">&times;</a>
                        <div class="content" [innerHTML]="templateData">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <b>Alert Sound</b>
                <div class="row">
                    <div class="col">Audio File</div>
                    <div class="col">Browse/Play</div>
                    <div class="col">Action</div>
                </div>
                <div class="row" *ngFor="let url of cityConfig.alertSoundUrls">
                    <div class="col">
                        {{url === "" ? "Sound Text" : url.substring(url.lastIndexOf('-')+1, url.length)}}
                    </div>
                    <div class="col mt-2">
                        <button type="button" class="d-inline btn btn-info">Browse</button>
                    </div>
                    <div class="col mt-2">
                        <button type="button"
                            [ngStyle]="{'background-color': cityConfig.activeSoundUrl === url? '#41ca41': 'rgba(0,0,0,.38)'}"
                            class="d-inline btn mat-button">Active</button>
                    </div>
                </div>
            </div>
            <div class="mt-5 row ">
                <button type="button" class="d-inline btn btn-info" (click)="showAddress()">Back</button>
                <button type="button" class="ml-5 d-inline btn btn-info" (click)="showRule()">Next</button>
            </div>
        </div>
        <div *ngIf="showRuleDetails">
            <div class="mt-3 row"><b>Rule Configuration</b></div>
            <div *ngIf="!newCity" class="container" style="width: 500px;">

                <div class="mt-3 row">
                    <div class="col-5">
                        <input *ngIf="!city.mailNotificationAllowed" class="form-check-input" type="checkbox" value=""
                            id="flexCheckDisabled" disabled>
                        <input *ngIf="city.mailNotificationAllowed" class="form-check-input" type="checkbox" value=""
                            id="flexCheckDisabled">
                        Email Notification
                    </div>
                    <div class="col-5">
                        <input *ngIf="!city.smsnotificationAllowed" class="form-check-input" type="checkbox" value=""
                            id="flexCheckDisabled" disabled>
                        <input *ngIf="city.smsnotificationAllowed" class="form-check-input" type="checkbox" value=""
                            id="flexCheckDisabled">
                        SMS Notification
                    </div>
                </div>
                <div class="mt-2 row">
                    Threshold Value For Abnormal Battery (%)
                </div>
                <div class="row">
                    <input type="text" class="form-control" disabled
                        [(ngModel)]="cityConfig.abnormalBatteryPercentValue">
                </div>
            </div>

            <div *ngIf="newCity" class="container" style="width: 500px;">
                <div class="mt-3 row">
                    <div class="col-5">
                        <input [(ngModel)]="city.mailNotificationAllowed" type="checkbox">
                        Email Notification
                    </div>
                    <div class="col-5">
                        <input [(ngModel)]="city.smsnotificationAllowed" type="checkbox">
                        SMS Notification
                    </div>
                </div>
                <div class="mt-2 row">
                    Threshold Value For Abnormal Battery (%)
                </div>
                <div class="row">
                    <input type="text" [(ngModel)]="cityConfig.abnormalBatteryPercentValue">
                </div>
            </div>

            <div class="mt-5 row">
                <button type="button" class="d-inline btn btn-info" (click)="showConfig()">Back</button>
                <button type="button" class="ml-5 d-inline btn btn-info" (click)="showColor()">Next</button>
            </div>
        </div>
        <div *ngIf="showColorDetails">
            <div class="mt-3 row"><b>Color Configuration</b></div>
            <div *ngIf="!newCity">
                <div class="mt-2 row">
                    Hazardous
                </div>
                <div class="row">
                    <input type="text" class="form-control" disabled [(ngModel)]="cityConfig.hazardousColorCode"
                        [style.background-color]="cityConfig.hazardousColorCode">
                </div>

                <div class="mt-2 row">
                    SOS
                </div>
                <div class="row">
                    <input type="text" class="form-control" disabled [(ngModel)]="cityConfig.sosColorCode"
                        [style.background-color]="cityConfig.sosColorCode">
                </div>
                <div class="mt-2 row">Battery Low</div>
                <div class="row">
                    <input type="text" class="form-control" disabled [(ngModel)]="cityConfig.batteryLowColorCode"
                        [style.background-color]="cityConfig.batteryLowColorCode">
                </div>
                <div class="mt-2 row">
                    Fall
                </div>
                <div class="row">
                    <input type="text" class="form-control" disabled value="undefined">
                </div>
                <div class="mt-2 row">
                    Idle
                </div>
                <div class="row">
                    <input type="text" class="form-control" disabled value="undefined">
                </div>
            </div>

            <div *ngIf="newCity">
                <div class="mt-2 row">
                    Hazardous
                </div>
                <div class="row">
                    <input type="text" [(ngModel)]="cityConfig.hazardousColorCode" >
                </div>
                <div class="mt-2 row">
                    SOS
                </div>
                <div class="row">
                    <input type="text" class="form-control" [(ngModel)]="cityConfig.sosColorCode">
                </div>
                <div class="mt-2 row">Battery Low</div>
                <div class="row">
                    <input type="text" class="form-control" [(ngModel)]="cityConfig.batteryLowColorCode">
                </div>
                <div class="mt-2 row">
                    Fall
                </div>
                <div class="row">
                    <input type="text" class="form-control" [(ngModel)]="cityConfig.fallColorCode">
                </div>
                <div class="mt-2 row">
                    Idle
                </div>
                <div class="row">
                    <input type="text" class="form-control" [(ngModel)]="cityConfig.idleColorCode">
                </div>
            </div>

            <div class="mt-5 row">
                <button type="button" class="d-inline btn btn-info" (click)="showRule()">Back</button>
                <button *ngIf="newCity" type="button" class="d-inline btn btn-info" (click)="saveCity()">Save</button>
            </div>
        </div>
    </div>
</div>