<app-header></app-header>
<app-left-navigation></app-left-navigation>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column" class="operationalHeading">
    <div fxLayout="row">
        <div fxFlex="">
            <h1>Network Gateway Dashboard</h1>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex="100">
            <span>Dashboard last updated on {{datePipe.transform(currentTime, 'dd-MMM-yyyy HH:mm')}} </span>
        </div>
        <div fxFlex="">
            <button type="button" class=" btn-info exportBtn" data-toggle="modal"
                data-target="#resetModal">Export</button>
        </div>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column" class="zoneRwo">
    <div fxLayout="column">
        <div fxFlex="">
            <h6>Network Status</h6>
        </div>
        <div>
            <p>Network uptime will be calculated from the day Gateway is onboarded in
                application</p>
        </div>
    </div>

</div>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column" class="zoneThreeRow">
    <div fxLayout="row">
        <div>
            <em>Total Installed Gateways</em>
        </div>
        <div class="zoneSvgHeading">
            <svg height="100" width="100">
                <circle cx="50" cy="50" r="30" width="500" height="100"
                    style="fill:rgb(255, 255, 255); stroke-width:4; stroke:rgb(38, 78, 116);" />
            </svg>
            <span class="total-installedGateway">{{networkStatusData.totalInstalledGateways}}</span>
        </div>
    </div>
    <div fxLayout="row">
        <div><em>Working Gateways</em></div>
        <div class="zoneSvgHeading">
            <svg height="100" width="100">
                <circle cx="50" cy="50" r="30"
                    style="fill:rgb(255, 255, 255); stroke-width:4; stroke:rgb(38, 78, 116);" />
            </svg>
            <span class="workingGateway">{{networkStatusData.totalWorkingGateways}}</span>
        </div>
    </div>
    <div fxLayout="row">
        <div> <em>Non Working Gateways </em></div>
        <div class="zoneSvgHeading">
            <svg height="100" width="100">
                <circle cx="50" cy="50" r="30"
                    style="fill:rgb(255, 255, 255); stroke-width:4; stroke:rgb(38, 78, 116);" />
            </svg>
            <span class="nonWokingGateway">{{networkStatusData.totalNonWorkingGateways}}</span>
        </div>
    </div>

    <div fxLayout="row">
        <div> <em>Network Uptime</em></div>
        <div class="zoneSvgHeading">
            <svg height="100" width="100">
                <circle cx="50" cy="50" r="30"
                    style="fill:rgb(255, 255, 255); stroke-width:4; stroke:rgb(38, 78, 116);" />
            </svg>
            <span class="networkUptime">{{networkStatusData.networkUptime}}</span>
        </div>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column" class="zoneFourRow">
    <div fxLayout="row" class="zoneFourRowOne">
        <div>
            <table>
                <thead class="GateWayStickyHeader">
                    <tr>
                        <th>Locations</th>
                        <th>Installed Gateways</th>
                    </tr>
                </thead>
                <tbody *ngIf="totalInstalledGatewaysData.statusList">
                    <tr *ngFor="let x of totalInstalledGatewaysData.statusList">
                        <td>{{x.city.cityName}}</td>
                        <td class="installedGateway">{{x.count}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div fxLayout="row" class="zoneFourRowOne">
        <div>
            <table>
                <thead class="GateWayStickyHeader">
                    <tr>
                        <th>Locations</th>
                        <th>Working Gateways</th>
                    </tr>
                </thead>
                <tbody *ngIf="workingGatewaysData.statusList">
                    <tr *ngFor="let x of workingGatewaysData.statusList">
                        <td>{{x.city.cityName}}</td>
                        <td class="installedGateway">{{x.count}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div fxLayout="row" class="zoneFourRowOne">
        <div>
            <table>
                <thead class="GateWayStickyHeader">
                    <tr>
                        <th>Locations</th>
                        <th>Non Working Gateways</th>
                    </tr>
                </thead>
                <tbody *ngIf="nonWorkingGatewaysData.statusList">
                    <tr *ngFor="let x of nonWorkingGatewaysData.statusList">
                        <td>{{x.city.cityName}}</td>
                        <td class="installedGateway">{{x.count}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div fxLayout="row" class="zoneFourRowOne">
        <div>
            <table>
                <thead class="GateWayStickyHeader">
                    <tr>
                        <th>Locations</th>
                        <th>Network Uptime %</th>
                    </tr>
                </thead>
                <tbody *ngIf="networkUptimeData.networkStatusList">
                    <tr *ngFor="let x of networkUptimeData.networkStatusList">
                        <td>{{x.city.cityName}}</td>
                        <td class="installedGateway">{{x.upTimePercentage}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Report</h5>
                <button type="button" class="close closeX" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                    <span>Report Type</span>
                    <mat-form-field appearance="fill" class="cardTotalReport">
                        <mat-select formControlName="gatewayDropdown" (selectionChange)="gatewayTypeChange($event)"
                            class="matSlt">
                            <mat-option value="nwDownTimeReport">NW Downtime Report</mat-option>
                            <mat-option value="historicalReport">Historical Report</mat-option>
                            <mat-option value="totalInstalledGateways">Total Installed Gateways</mat-option>
                            <mat-option value="workingGateways">Working Gateways</mat-option>
                            <mat-option value="nonWokingGateways">Non Working Gateways</mat-option>
                            <mat-option value="networkUptime">Network Uptime</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="container ml-0">
                        <div class="row mt-3 pl-0 " *ngIf="!disableDatesAndCity">
                            <div class="col-md-6 pl-0">
                                <span>Start Date</span>
                                <mat-form-field appearance="fill" class="cardDate">
                                    <input matInput [matDatepicker]="picker1" formControlName="fromDate" id="fromDate"
                                        [max]="options.maxDate" (keyup)="fromDateEntered()" placeholder="">
                                    <mat-datepicker-toggle matSuffix [for]="picker1">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker1 md-datepicker>

                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <span>End Date</span>
                                <mat-form-field appearance="fill" class="cardDate">
                                    <input matInput [matDatepicker]="picker2" formControlName="toDate" id="toDate"
                                        [max]="options.maxDate" (keyup)="toDateEntered()">
                                    <mat-datepicker-toggle matSuffix [for]="picker2">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker2 md-datepicker>

                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-4" *ngIf="!disableDatesAndCity">

                        <div class="col-md-6">
                            <div class="row cardTotalSlt">
                                <div class="col-md-6">
                                    <span>City List</span>
                                    <mat-form-field appearance="fill" class="gateWaySlt">
                                        <mat-select class="form-control" id="cityDropdown"
                                            formControlName="cityDropdown" (selectionChange)="cityChanged($event)">
                                            <mat-option *ngFor="let city of cityNames" [value]="city">
                                                {{city}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">

                        </div>
                    </div>
                    <br>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cancelBtn" data-dismiss="modal">Cancel</button>
                <button type="button" class="ml-2 d-inline btn btn-info downloadBtn"
                    (click)="export()">Download</button>
            </div>
        </div>
    </div>
</div>