*{
	text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body {
	background: #eeeeee;
	font-family: 'Varela Round', sans-serif;
    display: flex;
    box-sizing: border-box;
}
.operationalHeading {
    padding: 0 22px;
    margin: 0;
    height: auto;
    border-bottom: solid 1px rgb(236, 234, 234);
	color: rgb(43,95,143);
	justify-content: space-between;
}
.operationalHeading span {
	margin: 25px 17px;
    display: inline-block;
    font-weight: 600;
	color: #000;
	font-size: 12px;
}
 .operationalHeading h1{
    margin: 0;
    font-size: 1.5rem;
    color: rgb(43,95,143);
    display:inline-block;
	line-height: 2.8em;
	font-size: 1.5rem;
}
.zoneRow {
    border: solid 1px #e3e3e3;
    border-radius: 6px;
    margin-right: 20px;
}
.zoneRow.firstRow{
    margin-right: 40px;
    margin-left: 15px;
}
.zoneRight{
    border-right: solid 1px #e3e3e3;
    padding: 15px 44px;
}
.zoneP {
    padding: 15px 20px;
}
.ZoneParaM {
	display: flex;
	justify-content: space-between;
	padding: 6px ​24p;
    margin: 12px 0 0 0;
}
.ZoneParaM h5{
	font-size: 16px;
    padding: 4px 10px 8px 29px;
}
.zonePage button{
    background: transparent !important;
}
.zoneParaRow h4{
    color: rgb(43,95,143);
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 4px 0 0 10px;
}
.zoneParaRow em{
	font-size: 12px;
	color: rgb(43,95,143);
	font-style: normal;
    padding-right: 10px;
}
.operationalHeading .siteSearch{
	font-size: 12px;
    border: none;
    /* min-width: 77%; */
    display: block;
    margin-top: 4px;
}
.operationalDataRow{
	/* width: 94%;
    margin: 2% auto; */
	/* padding: 10px 0 0 0; */
	border-radius: 3px;
	height: 360px;
} 
.dataTblHeadings input[type=text], select, button{
	border: none;
	font-size: 12px;
}
.dataTblHeadings .form-control{
	border: none;
	font-size: 12px;
}
.dataTabal{
	margin: 25px 25px 25px 107px;
	position: relative;
    height: 360px;
    overflow: auto;
    background-color: #d3d3d3;
    border-radius: 6px;
	/* box-shadow: 0 0 1 rgb(196, 196, 196);
	box-shadow: 0px 0px 4px 2px #e4e5e6 ;              */
}
.dataTblHeadings{
	position: sticky;
	top: 0;
	z-index: 1;
    background-color: rgb(43,95,143);
    padding: 10px 8px;
}
.dataTabal .empList{
    background-color: rgb(220,230,245) !important;
    /* padding: 7px 15px; */
    /* min-width: 100%; */
    /* font-size: 16px; */
    margin-right: 20px;
    border: none;
    color: rgb(43,95,143);
}
.dataTabal.opD .zonesltAll select {
    background-color: rgb(29,80,126);
    border-radius: 4px;
    height: 32px;
    margin-left: 10px;
    color: rgb(61,133,198);
    padding: 5px 70px 10px 17px;
    border: none;
    /* width: 160px; */
}
.dataTabal.opD .zonesltAll select option {
    background-color: rgb(29,80,126);
    border-radius: 4px;
    height: 32px;
    margin-left: 10px;
    color: rgb(61,133,198);
    padding: 5px 20px 10px 8px;
    border: none;
}
.dataTabal .exportBtn{
    background-color: rgb(43,95,143);
    padding: 8px 15px 10px 35px;
    border: none;
    color: #fff;
    background-image: url(/assets/svg/_file-upload.svg);
    background-repeat: no-repeat no-repeat;
    background-position: 10px 9px;
}
.input-wrapper{
    position: relative;
}
.input-wrapper .searchBtn .form-control{
    display: inline-block;
    position: relative;
    padding-left: 40px;
    background-color : rgb(29,80,126);
    color: #fff;
}
.input-wrapper .searchBtn::before{
    font-family: 'FontAwesome';
    content: '\f002';
    position: absolute;
    left: 11px;
    color: rgb(61,133,198);
    top: 4px;
    z-index: 111;
}
.dataTopShow {
    font-size: 12px;
    padding-top: 10px;
}
.emplistBg{
      background-color: rgb(255, 255, 255);
    padding: 7px 15px;
    /* min-width: 100%; */
    /* font-size: 16px; */
    margin-right: 20px;
    border: none;
    color: rgb(43,95,143);
}
span.zoneName{
	font-size: 12px;
    line-height: 3em;
    vertical-align: middle;
}
.dataTabal .empListNoBG{
    background: transparent;
  }

  .input-wrapper .form-control::placeholder{
    color: rgb(61,133,198);
  }
